/* .header {
  background-color: #002060;
  color: white;
  padding: 20px 40px;
  font-family: "Arial", sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 80px;
}

.header-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-button {
 background-color: transparent;
  color: #ffffff;
  border: solid 1px ;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  margin-top: 15px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px solid #ffcc00;
} */




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@700&display=swap');

.header {
  background-color: #002060;
  color: white;
  padding: 20px 40px;
  padding-bottom: 5px;
  font-family: 'Inter', sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 20px;
 
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.logo {
  width: 100px;
}

.header-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem; padding-left: 30px;
  padding-top:30px ;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  padding-left: 10px;
  padding-top:30px ;
}





.header-subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 30px;
  gap: 10px; 
}

.header-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.horizontal-line {
  /* flex-grow: 1;  */
  height: 1px;
  background-color: white;
  width: 100px;
}

.header-links {
  display:flex;
  align-items :flex-start;
  height: 20px;
  gap: 20px;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.login-button {
  background-color: transparent;
  color: #ffffff;
  border: solid 1px white;
  /* border-radius: 5px; */
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  margin-top: 15px;
 
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  
  list-style: none;
  margin-left: 700px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navbar a:hover {
  border-bottom: 2px solid #ffcc00;
}
