/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container {
  position: relative;
  width: 100%;
}

.marquee {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* Vertical Marquee Styles */
.vertical-marquee-container {
  position: relative;
  height: 300px; /* Set the height of the container */
  overflow: hidden; /* Hide the overflow (content outside the visible area) */
}

.vertical-marquee {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  animation: vertical-marquee 10s linear infinite; /* Adjust speed here */
}

@keyframes vertical-marquee {
  0% {
    transform: translateY(
      50%
    ); /* Start immediately at the top of the container */
  }
  100% {
    transform: translateY(-100%); /* End above the visible area */
  }
}

.vertical-marquee-item {
  padding: 10px;
  margin-bottom: 15px; /* Space between items */
}
