@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  
  .marquee span {
    display: inline-block;
    padding-right: 100%; /* Ensures smooth looping by offsetting duplicate text */
    animation: marquee 30s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  .latest-news {
    position: relative; /* Position relative to allow overlap */
    z-index: 1; /* Ensure it stays above the headline */
    box-shadow: 8px 0 15px -5px rgba(0, 0, 0, 0.5); /* Shadow effect on the right edge */
    margin-right: -10px; /* Overlap with the headline */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .headline-container {
    position: relative;
    z-index: 0; /* Make sure it's below the Latest News div */
  }  
  